.cart_wrapper{
    width: 905px;
    margin: 0 auto;
    background-color:white;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    
}

.cart_wrapper .products{
    border: 1px solid #eee;
    border-bottom:none;
    border-right: none;
    border-left: none;
    width:65%;
}
.cart_wrapper .products h1 {
    
    background-color: #eee;
    padding: 20px;
    color: #333;
    font-weight:900;
}
.cart_wrapper .product{
    padding-top:10px;
    padding-left:20px;
    padding-bottom:20px;
    border-bottom: 1px solid #eee;
}
.cart_wrapper .product img{
    display:inline-block;
    margin-right:15px
}

.cart_wrapper .product .product_details{
    display:inline-block;
}
.cart_wrapper .product .buttons{
    margin-top:30px;
    
}
.cart_wrapper .product .buttons a{
    border:1px solid #eee;
    color: #333;
    text-decoration:none;
    font-weight:900;
    letter-spacing:1px;
    padding:7px 25px;
    border-radius:5px;
    background-color:#efefef;
}
.cart_wrapper .product .buttons a:hover{
    background-color:#ccc;
}
.cart_wrapper .summary{
    background-color: #1a5c7a;
    margin-left:30px;
    width:250px;    
    height:250px;
    color: #efefef;
    font-weight:900;
    border-radius:5px;
    padding-bottom:10px
}
.cart_wrapper .summary .head{
    font-size:30px;
    color: #efefef;
    padding-left:20px;
    margin-top:10px;
   
}
.cart_wrapper .summary .total{
   border-top:1px solid #eee;
    padding:10px 20px;
    font-size:25px;
    margin-top:80px;
   
}
.cart_wrapper .summary .total p{
     display:inline-block;
}
.cart_wrapper .summary .sum{
    display:inline-block;
    margin-left: 73px;
    width: 80px;
    font-size:25px;
}
.cart_wrapper .summary div:not(:last-child){
     border-bottom:1px solid #eee;
}
.cart_wrapper .summary button{
    text-decoration:none;
    background-color: #67be13!important;
    color: #FFF!important;
    border-bottom: 2px solid #5ba911!important;   
    padding: 13px 35px;
    text-align: center;  
    font-weight: 700;
    border: none;
    border-radius: 5px;
   margin-left:25px;
   margin-top:20px;
   width:200px;
   cursor:pointer;
  font-size:18px;
}
.cart_wrapper .summary button:hover {
    background-color: #5ba911 !important;
}