.cart_wrapper {
    width: 905px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    color: #71828a;
}

.cart_wrapper .products{
    border: 1px solid #d4d4d4;
    border-radius:10px 10px 0 0;
    border-bottom:none;
    width:60%;
}
.cart_wrapper paid_products{
    width:80%!important;
}
.cart_wrapper .products h1 {
    
    background-color: #eef2f4;
    padding: 20px;
   color: #71828a;
    font-weight:900;
}
.cart_wrapper .products products-Wrapper{
    display:flex;
    flex-wrap:wrap;
}
.cart_wrapper .product{
    padding-top:10px;
    padding-left:20px;
    padding-bottom:20px;
    border-bottom: 1px solid #eee;
}
.cart_wrapper .product img{
    display:inline-block;
    margin-right:15px
}

.cart_wrapper .product .product_details{
    display:inline-block;
}
.cart_wrapper .product .buttons{
    margin-top:30px;
    
}
.cart_wrapper .product .buttons a{
    border:1px solid #eee;
    color: #333;
    text-decoration:none;
    font-weight:900;
    letter-spacing:1px;
    padding:7px 25px;
    border-radius:5px;
    background-color:#efefef;
    cursor:pointer;
}
.cart_wrapper .product .buttons a:hover{
    background-color:#ccc;
}
.cart_wrapper .summary{
    width:300px;
    border:solid 1px #d4d4d4;
    font-weight: 900;
    font-size: 15px;
    margin-left: 40px;
    border-radius: 10px;
    
    
    
}
.cart_wrapper .summary .top{
    border-bottom:solid 1px #d4d4d4;
    background-color:#eef2f4;
   text-align:center;
   font-size:30px;
   padding: 20px 0;
}

.cart_wrapper .summary .top span{
     
}
.cart_wrapper .summary .body{
   padding: 10px 0 10px 5px;
   
}
.cart_wrapper .summary .body .row{
   width: 91%;
    margin: 20px 0;

}
.cart_wrapper .summary .body .credit_cards img{
    width:40px;
    margin-left:10px;
}
.cart_wrapper .summary .body .row select{   
    border: 1px solid #bbb;
    box-shadow: none;
    color: #666;
    line-height: 1.7;
    padding: 12px 14px;
    border-radius: 4px;
    display:inline-block;
}
.cart_wrapper .summary .body .row input {
    width: 100%;
    border: 1px solid #bbb;
    box-shadow: none;
    color: #666;
    height: 7px;
    line-height: 1.7;
    padding: 10px 12px;
    border-radius: 4px;
}
.cart_wrapper .summary .body .inner_limits{
    width:80%;
    margin:0 auto;
}
.cart_wrapper .summary .body .sec_code {
    width:89px;   
}
.cart_wrapper .summary .body .payment{
    width:137px;  
}
.cart_wrapper .summary .body .sec_pays{
    display:flex;
    flex-wrap:wrap; 
}
.cart_wrapper .summary .body .pay {
    width:102%;
    background-color:#54c7c3;
    border-radius:5px;
    border:none;
    font-size:16px;
    color:white;
    font-weight:900;
    letter-spacing:1px;
    padding:8px 0;
    cursor:pointer;
}
.cart_wrapper .summary .body .pay i{
    margin-right:8px;
}

