@using LuckyForm.Models
@model Form
<link href="~/content/css/Home/Forms/_123.css" rel="stylesheet" />
<div>
    <div class="form_wrapper">
        <span class="form_name">@Model.Name</span>
        <div class="tables_wrapper">
            @for(int t = 1; t <= Model.NumOfTables;t++)
            {
                <div class="table">
                    <div class="regular_numbers">
                        @for (int j = 0; j < 3; j++)
                        {

                            for (int i = 1; i <= Model.NumsInTables; i++)
                            {
                                <span class="number">
                                    <input type="checkbox" name="number" value="@i" /> @i
                                </span>

                            }

                        }
                    </div>
                
                </div>
            }
        </div>
    </div>
   
</div>