@using LuckyForm.Models
@model Form
<link href="~/content/css/Home/Forms/_123.css" rel="stylesheet" />

@if (ViewBag.isView == true)
{
    <script src="~/content/js/ViewJS/_123_view.js"></script>
}
else //Form To fill
{
    <script src="~/content/js/_123.js"></script>
}
<link href="~/content/css/plugins/slick.css" rel="stylesheet" />
<script src="~/content/js/plugins/slick.js"></script>
<div>
    <div class="form_wrapper" id="form_wrapper" data-detid=@ViewBag.detId>

        <span class="form_name">@Model.Name</span>
        <script>
            $('.tables_wrapper').slick({
                infinite: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                rows: 2,
                swipe: false,
                arrows: true,
                prevArrow: '<i class="fas fa-chevron-circle-left slick-prev"></i>',
                nextArrow: '<i class="fas fa-chevron-circle-right slick-next"></i>'
            });
        </script>
        <form id="all_tables_form" class="all_tables_form" method="post" action="/Forms/Submit123Form">
            <div class="tables_wrapper">
                @for (int t = 1; t <= Model.NumOfTables; t++)
                {
                    <div class="table" id="table">
                        <div class="top_table" id="top_table">
                            <div class="top_table_content">
                                <span class="table_number">Table No. @t</span>
                                <span class="quick_pick_button"><button type="button">Quick pick  <i class="fa fa-magic"></i> </button></span>
                            </div>

                        </div>
                        <div class="instruction">

                            <span>Choose one number from each row</span>
                            <i class="fas fa-trash-alt trash_icon"></i>
                        </div>
                        <div class="regular_numbers">
                            @for (int j = 0; j < 3; j++)
                            {
                                <div class="nums_row">
                                    @for (int i = 1; i <= Model.NumsInTables; i++)
                                    {
                                        <span class="number">
                                            <input type="checkbox" name="numbers" value="@i" /> @i
                                        </span>

                                    }
                                </div>

                            }
                        </div>

                    </div>
                }
            </div>
            <button type="submit">send</button>
        </form>
    </div>

</div>