@using LuckyForm.Models
@model Form


<link href="~/content/css/Home/Forms/Lotto.css" rel="stylesheet" />
<script src="~/content/js/Lotto.js"></script>
<script src="~/content/js/Slider.js"></script>
<link href="~/content/css/Home/Slider.css" rel="stylesheet" />

<script>

    $('#exampleSlider').multislider({
        interval: 0,
        slideAll:true

    });
    $('#exampleSlider').multislider('pause');

</script>
<div>
    <form id="all_tables_form" class="all_tables_form" method="post" action="/Forms/SubmitForm">
        <div class="form_wrapper" id="exampleSlider">
            <button type="button" class="MS-left slide_button"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <span class="form_name">@Model.Name</span>
            <div class="tables_wrapper MS-content">
                @for (int t = 1; t <= Model.NumOfTables; t++)
                {

                    <div class="table item" id="table">
                        <div class="inner_table" id="inner_table" name="nir">
                            <div class="top_table" id="top_table">
                                <div class="top_table_content">
                                    <span class="table_number">Table No. @t</span>
                                    <span class="quick_pick_button"><button type="button">Quick pick  <i class="fa fa-magic"></i> </button></span>
                                </div>

                            </div>
                            <div class="instruction">
                                <span>Choose 7 numbers </span>
                                <i class="fas fa-trash-alt trash_icon"></i>
                            </div>
                            <div class="regular_numbers">
                                @for (int i = 1; i <= Model.NumsInTables; i++)
                                {
                                    <span class="number">
                                        <input type="checkbox" name="number" value="@i" /> @i
                                    </span>

                                }

                            </div>                           
                        </div>

                    </div>
                }

            </div>
            <button type="button" class="MS-right slide_button"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        <button type="button" class="submit_tables">send</button>
    </form>
</div>