@using LuckyForm.Models
@using System
@using System.Collections.Generic
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
    Dictionary<string, List<PlayCard>> playCards = ViewBag.PlayCards;
    
}
@model Form
<!DOCTYPE html>

<html>
<head>
    <link href="~/content/css/Home/Forms/Chance.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach (PlayCard card in playCards["clubs"])
        {
            <img src="~/content/Images/playCards/@card.Img" />
        }
        @Model.Name
    </div>
</body>
</html>