@using LuckyForm.Models
@using System
@using System.Collections.Generic
@{
    Dictionary<string, List<PlayCard>> playCards = ViewBag.PlayCards;
   
}
@model Form
<link href="~/content/css/Home/Forms/Chance.css" rel="stylesheet" />
<script src="~/content/js/Chance.js"></script>
<meta name="viewport" content="width=device-width" />
<title></title>
<body>
    <!--<div class="choose_chance_type">
        for (int i = 1; i < 5; i++)
        {
            <span class="chance_type">
                <input type="radio" name="chance_type" value="1" />
                <span class="number">i</span>
                <span class="chance_type_img _1">
                    <img src="~/content/Images/Home/logos/Chance-sml.png" />
                </span>

            </span>
        }
    </div>
        -->
    <form class="chance_form" data-formid="@Model.ID" method="post" action="/Forms/SubmitForm">

        <div class="chance_table">
            <div class="instruction">
                <span>Choose 1 card for each type </span>
            </div>

            @foreach (KeyValuePair<string, List<PlayCard>> playCardType in playCards)
            {
                <div class="card_type">
                    @foreach (PlayCard card in playCardType.Value)
                    {
                        <input type="checkbox" class="img_checkbox" />
                        <img class="card_img" src="~/content/Images/playCards/@card.Img" />
                    }
                    <img class="card_type_img" src="~/content/Images/playCards/@(playCardType.Key).svg" />
                </div>
            }
        </div>
        <button type="button" class="submit_tables">send</button>
    </form>


    <div>
        @Model.Name
    </div>
</body>