@using LuckyForm.Models
@using System
@using System.Collections.Generic
@{
    Dictionary<string, List<PlayCard>> playCards = ViewBag.PlayCards;
    int cardCount = 7;
}
@model Form
<link href="~/content/css/Home/Forms/Chance.css" rel="stylesheet" />
@if (ViewBag.isView == true)
{
    <script src="~/content/js/ViewJS/Chance_view.js"></script>
}
else //Form To fill
{
    <script src="~/content/js/Chance.js"></script>
}
    
<meta name="viewport" content="width=device-width" />
<title></title>
<body>

    <form class="chance_form" data-formid="@Model.ID" data-detid=@ViewBag.detId id="form_wrapper" method="post" action="/Forms/SubmitChanceForm">

        <i dir="ltr" title="" class="fas fa-info-circle explain"></i>
        <div style="white-space: pre-line" class="info">@Model.Explain</div>

        <div name="ch_table" class="chance_table">
            <div class="instruction">
                <span>Choose 1 card for each type </span>
            </div>

            @foreach (KeyValuePair<string, List<PlayCard>> playCardType in playCards)
            {
                cardCount = 7;
                <div class="card_type">
                    @foreach (PlayCard card in playCardType.Value)
                    {
                        <input type="checkbox" class="img_checkbox" name="cards" value="@cardCount" />
                        <img class="card_img" src="~/content/Images/playCards/@card.Img" />
                        cardCount++;
                    }
                    <img class="card_type_img" src="~/content/Images/playCards/@(playCardType.Key).svg" />
                </div>
            }
        </div>
        <input hidden id="first_row" name="first_row" value="-1" />
        <input hidden id="second_row" name="second_row" value="-2" />
        <input hidden id="third_row" name="third_row" value="-3" />
        <input hidden id="fourth_row" name="fourth_row" value="-4" />

        @if (ViewBag.isView == false)
        {
            <button type="button" class="submit_tables">Add To Cart</button>
        }
        else
        {
            <button type="button" class="back">Back To Cart</button>
        }
        
    </form>

   
</body>