@using LuckyForm.Models
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}
@model Form
<!DOCTYPE html>

<html>
<head>
    <link href="~/content/css/Home/Forms/Chance.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Model.Name
    </div>
</body>
</html>