.lottoryblocks-Wrapper {
    width: 905px;
    margin: 0 auto;
}
.published {
    display: flex;
    flex-wrap: wrap;
    width: 905px;
}
.unpublished {
    display: flex;
    flex-wrap: wrap;
    width: 905px;
    border-top: 10px dashed #b4b4b4;
    padding-top: 30px;
}
.lottoryblocks-Wrapper h3 {
    flex: 0 0 100%;
    color: #555;
}
.lottoryblocks-Wrapper p {
    flex: 0 0 100%;
    margin-bottom: 20px;
    color: #555;
}
.lottoryblocks-Wrapper i {
    color: #b4b4b4;
    font-size: 20px;
}
.lottoryblocks-Wrapper .lottery i {
    position: absolute;
    margin: 10px 0 0 170px;
}
.published .lottery i:hover {
    color: #ff2222 !important;
    transform:scale(1.2);
    cursor: pointer;
}
.unpublished .lottery i:hover {
    color: #67be13 !important;
    transform: scale(1.2);
    cursor: pointer;
}
.lottoryblocks-Wrapper .lottery{
    width:250px;
    border:solid 0;
    border-radius:5px;
    text-align:center;
    background-color:#EFEFEF;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:30px;
    padding-bottom:20px;
   
}
.lottoryblocks-Wrapper .lottery img{
    margin-top:10px;
    cursor:pointer;
}
.lottoryblocks-Wrapper .lottery a{
     color:#666;
     margin-top:10px;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    display:block;
    width:inherit;  
    cursor:pointer;
}
.lottoryblocks-Wrapper .lottery .play_now_button{
    margin-top:50px;
    width:80%;
    color:aliceblue;
    background-color:#67be13!important;
    display:block;
    margin:50px auto 0 auto;
    padding: 15px 13px;
    font-size: 18px;    
    text-align: center;
    border: none;    
    font-weight: 700;
    border-radius: 5px;
   
}
.play_now_button{
     cursor:pointer;
}
.lottoryblocks-Wrapper .lottery .play_now_button:hover{
    background-color: #5ba911!important;
    
}