
#exampleSlider {
    position: relative;
    
}

@media (max-width: 767px) {
    #exampleSlider {
        border-color: transparent;
    }
}

#exampleSlider .MS-content {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    width:63%;
}

@media (max-width: 767px) {
    #exampleSlider .MS-content {
        margin: 0;
    }
}

#exampleSlider .MS-content .item {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 310px!important;
}

@media (max-width: 1200px) {
    #exampleSlider .MS-content .item {
        width: 25%;
    }
}

@media (max-width: 992px) {
    #exampleSlider .MS-content .item {
        width: 33.3333%;
    }
}

@media (max-width: 767px) {
    #exampleSlider .MS-content .item {
        width: 50%;
    }
}

#exampleSlider .MS-content .item p {
    font-size: 30px;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    margin: 0;
    padding: 10px 0;
}

#exampleSlider button.slide_button {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 30px;
    outline: 0;
    top: 210px;
}

@media (max-width: 767px) {
    #exampleSlider .MS-controls button {
        display: none;
    }
}

#exampleSlider button:hover {
    cursor: pointer;
}

#exampleSlider .MS-left {
    left: 180px;
}

@media (max-width: 992px) {
    #exampleSlider .MS-controls .MS-left {
        left: -2px;
    }
}

#exampleSlider .MS-right {
    right: 180px;
}

@media (max-width: 992px) {
    #exampleSlider .MS-controls .MS-right {
        right: -2px;
    }
}
