@using LuckyForm.Models
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}
@model List<Country>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/content/css/Home/ConectUs.css" rel="stylesheet" />
    <title>ConectUs</title>
</head>
<body>
    <div class="conect_wrapper">
        
        <span class="conect_us_header">Conect Us</span>
        <div class="countries-Wrapper">
            <div class="conect_icons">
                <img src="~/content/Images/Home/ConectUs/fax.svg" />
                <img src="~/content/Images/Home/ConectUs/worldwide.svg" />
                <img src="~/content/Images/Home/ConectUs/telephone.svg" />
            </div>
            @if (Model != null)
    {
        foreach (Country country in Model)
        {
            <div class="country">
                <img src="~/content/Images/Home/ConectUs/@country.Img" />
                <h3>@country.Name</h3><br />
                <span>Tel. @country.Tel</span><br />
                <span>fax. @country.Fax</span>
            </div>
}
}

        </div>
    </div>
</body>
</html>
