@using LuckyForm.CreditCompanyReference
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";

}
@model Deal[]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/content/js/GetDealsByTimeRange.js"></script>
    <link href="~/content/css/Home/GetDealsByTimeRange.css" rel="stylesheet" />
    <title>DealsByTimeRange</title>
</head>
<body>
    <div class="get_deals_wrapper">
        <form class="deals_form" method="post" action="/Home/GetDealsByTimeRange">
            <label >Enter Start Date:</label>
            <input type="date" name="start" id="startDateId" class="date" />
            <label class="lbl_end">Enter End Date:</label>
            <input type="date" name="end" id="endDateId" class="date" />
            <button type="button">Get Deals</button>
        </form>
        @if(Model == null)
            {
                <p class="no_dls">There were no deals in the selected time period</p>
            }
        @if (Model != null)
        {
            <table style="width:70%">
                <tr>
                    <th>ID</th>
                    <th>Card Number</th>
                    <th>Date</th>
                    <th>Amount</th>                   
                </tr>
                                
            
            @foreach (Deal d in Model)
            {
                <tr>
                    <td>@d.ID</td>
                    <td>@d.CardID</td>
                    <td>@d.Date.ToShortDateString()</td>
                    <td>@(-d.Amount)</td>                    
                </tr>
                
            }
                </table>
        }
    </div>
</body>
</html>
