@using LuckyForm.CreditCompanyReference
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";

}
@model Deal[]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DealsByTimeRange</title>
</head>
<body>
    <div>
        <form class="deals_form" method="post" action="/Home/GetDealsByTimeRange">
            <input type="date" name="start" class="date" />
            <input type="date" name="end" class="date" />
            <button type="submit">Get Deals</button>
        </form>
        @if (Model != null)
        {
            <table style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>Card Number</th>
                    <th>Date</th>
                    <th>Amount</th>                   
                </tr>
                                
            
            @foreach (Deal d in Model)
            {
                <tr>
                    <td>@d.ID</td>
                    <td>@d.CardID</td>
                    <td>@d.Date.ToShortDateString()</td>
                    <td>@(-d.Amount)</td>                    
                </tr>
                
            }
                </table>
        }
    </div>
</body>
</html>
