@using LuckyForm.CreditCompanyReference
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";

}
@model List<Deal>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DealsByTimeRange</title>
</head>
<body>
    <div>
        <form class="deals_form" method="post" action="/Home/GetDealsByTimeRange">
            <input type="date" name="start" class="date" />
            <input type="date" name="end" class="date" />
            <button type="button">Get Deals</button>
        </form>
        @if(Model != null)
        {
            foreach(Deal d in Model)
            {
                <p>@d.ID</p><br />
            }
        }
    </div>
</body>
</html>
