@using LuckyForm.Models
@{
    Layout = null;
}
@model List<Form>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>lotteries</title>
    <link href="~/content/css/Home/Lotteries.css" rel="stylesheet" />
</head>
<body>  
        <div class="lottoryblocks-wrapper">
            @if (Model != null)
            {
                foreach (Form form in Model)
                {
                    <div class="lottery">
                        <a href="loto.html">@form.Name</a>
                        <button class="play_now">Play Now</button>
                    </div>
                }
            }

        </div>
</body>
</html>
