@using LuckyForm.Models
@{
    Layout = null;

    SessionUser sessionUser = Session["user"] as SessionUser;


}
@model List<Form>
<link href="~/content/css/Home/Lotteries.css" rel="stylesheet" />

<div class="lottoryblocks-Wrapper" id="lottoryblocks-Wrapper">
    @if (Model != null)
    {
        <div class="published">
            @if(sessionUser.PermissionType == "2")
            {
                <h3>Published Lotteries</h3><br />
                <p>To Hide the Lotteries, press the <i class="fas fa-minus-circle"></i> button.</p><br />
            }
            
        @foreach (Form form in Model)
        {
            if (form.Published)
            {
                <div class="lottery" data-type=@form.Type data-formId=@form.ID>
                    @if(sessionUser.PermissionType == "2")
                    {
                        <i class="fas fa-minus-circle"></i>
                    }
                    <img src="~/content/Images/Home/logos/@form.ImagePath" />

                    <a>@form.Name</a>

                    @if (sessionUser == null)
                    {
                        <a onclick="document.getElementById('modal-wrapper').style.display='block'" data-user="null" class="play_now_button">Play Now</a>
                    }
                    else
                    {
                        <a data-user="@sessionUser.FirstName" class="play_now_button">Play Now</a>
                    }

                </div>
            }
        }
            </div>
        if (sessionUser.PermissionType == "2")//if admin - show unpublished lotteries
        {
            <div class="unpublished">
                <h3>Unpublished Lotteries</h3><br />
                <p>To add the Lotteries, press the <i class="fas fa-plus-circle"></i> button.</p><br />
                @foreach (Form form in Model)
                {
                    if (!form.Published)
                    {
                        <div class="lottery" data-type=@form.Type data-formId=@form.ID>
                            <i class="fas fa-plus-circle"></i>
                            <img src="~/content/Images/Home/logos/@form.ImagePath" />
                            <a>@form.Name</a>
                            <a data-user="@sessionUser.FirstName" class="play_now_button">Play Now</a>
                        </div>
                    }
                }
            </div>
        }
    }

</div>
<script>
    $(".lottery").children(":not(i)").click(
        function () {
            if ($(this).data('user') === null) {
                return;
            }

            var type = $(this).parent().data('type');
            var id = $(this).parent().data('formid');

            $.ajax({
                url: '/Forms/GetViewByType?Type=' + type + '&formID=' + id,
                dataType: "html",
                success: function (data) {
                    $('#LotteryContent').html(data);
                }
            });
        });
</script>
<!--<script type="text/javascript">
    var clock;
    $(document).ready(function() {
        var clock;

        clock = $('.clock').FlipClock({
            clockFace: 'DailyCounter',
            autoStart: false,
            callbacks: {
                stop: function() {
                    $('.message').html('The clock has stopped!')
                }
            }
        });

        clock.setTime(10);
        clock.setCountdown(true);
        clock.start();

    });
</script>-->
