@using LuckyForm.Models
@{
    Layout = null;
}
@model List<Form>
<link href="http://localhost:2973/content/css/Home/flipclock.css" rel="stylesheet" />
<script src="http://localhost:2973/content/js/plugins/flipclock.min.js"></script>
<link href="~/content/css/Home/Lotteries.css" rel="stylesheet" />
        <div class="stam">
           <div class="clock" style="margin:2em;"></div>
           <div class="message"></div>
</div>
            <div class="lottoryblocks-wrapper">            
                @if (Model != null)
                {
                    foreach (Form form in Model)
                    {
                        <div class="lottery">
                            <p align="center" style="font-family: 'Spoiler Black'; font-size: 36pt;">
                                <span style="background-color: #ee2e24; color: white;">&nbsp;לוֹטוֹ </span> 
                                <span style="background-color: #16478e; color: white;">&nbsp;שיטתי&nbsp;</span>
                            </p>
                            <a href="loto.html">@form.Name</a>
                            <button class="play_now">Play Now</button>
                        </div>
                    }
                }

            </div>
    <script type="text/javascript">
		var clock;
		$(document).ready(function() {
			var clock;

			clock = $('.clock').FlipClock({
		        clockFace: 'DailyCounter',
		        autoStart: false,
		        callbacks: {
		        	stop: function() {
		        		$('.message').html('The clock has stopped!')
		        	}
		        }
		    });

		    clock.setTime(220880);
		    clock.setCountdown(true);
		    clock.start();

		});
    </script>

