@using LuckyForm.Models
@{
    Layout = null;

    SessionUser sessionUser = Session["user"] as SessionUser;
    

}
@model List<Form>
<link href="http://localhost:2973/content/css/Home/flipclock.css" rel="stylesheet" />
<script src="http://localhost:2973/content/js/plugins/flipclock.min.js"></script>
<link href="~/content/css/Home/Lotteries.css" rel="stylesheet" />


<div class="stam">
    <!--<div class="clock" style="margin:2em;"></div>-->
    <div class="message"></div>
</div>
<div class="lottoryblocks-Wrapper" id="lottoryblocks-Wrapper">            
    @if (Model != null)
    {
        foreach (Form form in Model)
        {
            <div class="lottery" data-type=@form.Type data-formId=@form.ID>
                <img src="~/content/Images/Home/logos/@form.ImagePath" />
                                   
                <a>@form.Name</a>
                
                @if (sessionUser == null)
                {
                    <a onclick="document.getElementById('modal-wrapper').style.display='block'" data-user="null" class="play_now_button">Play Now</a>
                }
                else
                {
                    <a data-user="@sessionUser.FirstName" class="play_now_button">Play Now</a>
                }

            </div>
        }
    }

</div>
<script>
    $(".lottery").children().click(
        function () {
            if ($(this).data('user') === null){              
                return;               
            }
                
            var type = $(this).parent().data('type');
            var id = $(this).parent().data('formid');
            
            $.ajax({
                url: '/Forms/GetViewByType?Type=' + type + '&formID=' + id,
                dataType: "html",
                success: function (data) {
                    $('#LotteryContent').html(data);
                }
            });
        });
</script>
<script type="text/javascript">
	var clock;
	$(document).ready(function() {
		var clock;

		clock = $('.clock').FlipClock({
	        clockFace: 'DailyCounter',
	        autoStart: false,
	        callbacks: {
	        	stop: function() {
	        		$('.message').html('The clock has stopped!')
	        	}
	        }
	    });

	    clock.setTime(10);
	    clock.setCountdown(true);
	    clock.start();

	});
</script>

