@using LuckyForm.Models
@{
    Layout = null;

    SessionUser sessionUser = Session["user"] as SessionUser;
    

}
@model List<Form>
<link href="http://localhost:2973/content/css/Home/flipclock.css" rel="stylesheet" />
<script src="http://localhost:2973/content/js/plugins/flipclock.min.js"></script>
<link href="~/content/css/Home/Lotteries.css" rel="stylesheet" />


<div class="stam">
    <!--<div class="clock" style="margin:2em;"></div>-->
    <div class="message"></div>
</div>
<div class="lottoryblocks-Wrapper">            
    @if (Model != null)
    {
        foreach (Form form in Model)
        {
            <div class="lottery">
                <img href="/Forms/GetViewByType?Type=@form.Type&formID=@form.ID" src="~/content/Images/Home/logos/@form.ImagePath" />
                                   
                <a href="/Forms/GetViewByType?Type=@form.Type&formID=@form.ID">@form.Name</a>
                
                @if (sessionUser == null)
                {
                    <a onclick="document.getElementById('modal-wrapper').style.display='block'" class="play_now_button">Play Now</a>
                }
                else
                {
                    <a href="/Forms/GetViewByType?Type=@form.Type&formID=@form.ID" class="play_now_button">Play Now</a>
                }

            </div>
        }
    }

</div>
<script type="text/javascript">
	var clock;
	$(document).ready(function() {
		var clock;

		clock = $('.clock').FlipClock({
	        clockFace: 'DailyCounter',
	        autoStart: false,
	        callbacks: {
	        	stop: function() {
	        		$('.message').html('The clock has stopped!')
	        	}
	        }
	    });

	    clock.setTime(10);
	    clock.setCountdown(true);
	    clock.start();

	});
</script>

