
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../../content/css/Home/MainPageLotteries.css" rel="stylesheet" />
    <script src="~/content/js/MainPageLotteries.js"></script>
    <title>MainPageLotteries</title>

</head>
<body>
    <div class="LotteriesWrapper">
        <div class="sub_menu">
            <ul>
                <li class="home"><i class="fas fa-home"></i></li>
                <li class="loto"></li>
                <li class="chance"></li>
                <li class="_777"></li>
                <li class="_123"></li>
            </ul>
        </div>

        <div id="LotteryContent">
            
            <div class="home-LotteriesWrapper">
                
            </div>
        </div>
    </div>

    <script>
        // If user clicks anywhere outside of the modal, Modal will close

        var modal = document.getElementById('modal-wrapper');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
