
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateLotteries</title>
    <script src="~/content/js/UpdateLotteries.js"></script>
    <link href="~/content/css/Home/UpdateLotteries.css" rel="stylesheet" />
</head>
<body>
    <div class="lotteries_update_wrapper">
        <div class="lotteries_update">
            <h1>Update Lotteries</h1>
            <ul class="lotteries_type">
                <li class="loto"></li>
                <li class="chance"></li>
                <li class="_777"></li>
                <li class="_123"></li>
            </ul>

            <div class="lotteries_wrapper">

            </div>
            <a href="#" id="add"><i class="fas fa-plus"></i>Add</a>

        </div>
    </div>
</body>
</html>
