
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateBetsResults</title>
    <link href="~/content/css/Home/UpdateBetsResults.css" rel="stylesheet" />
</head>
<body>
    <div class="update_wrapper">
        <span class="update_bets_header">Update Bets Results</span>
        <form class="update_form" method="post" action="/Home/UpdateResults">
            
            <div class="selection_area">
                <p>
                    Select a lottery<br />to update:<br /><br />
                </p>
               
                <select class="lottery_select" name="lottery_type">
                    <option value="1">Lotto</option>
                    <option value="2">Chance</option>
                    <option value="3">777</option>
                    <option value="4">123</option>
                </select>
            </div>
            <div class="fill_area">
                <p>
                    Fill out the bets according to the next protocol: <br />
                    numbers*strongs#numbers*strongs#<br />  <br />
                </p>
                
                <input type="text" name="result"  pattern="[0-9,#*]{1,144}" required placeholder="For Example: 1,2,3,4*5,6#7,8,9,10*#11,12#" />
                <br>

            </div>
            <button class="submit_bets">Update Bets</button>
        </form>
    </div>
</body>
</html>
