@using LuckyForm.Models
@{
    Layout = "~/Views/Master_pages/masterPageHome.cshtml";
}
@model Order
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/content/css/Order/Cart.css" rel="stylesheet" />
    <title>Cart</title>
</head>
<body>
    <div class="cart_wrapper">
        <div class="products">
            <div class="head">
                <h1>YOUR CART(3)</h1>
            </div>
           
            <div class="lottoryblocks-Wrapper">
                @foreach (OrderDetails det in Model.Orders)
            {

                    <div class="product">
                        
                        <img src="~/content/Images/Home/logos/@det.Form.ImagePath" />
                        <div class="product_details">
                            <span><b>Form Name:</b> @det.Form.Name</span><br />
                            <span><b>Price:</b> @det.Price₪</span><br />
                            <span><b>Date:</b> @det.Date.ToShortDateString()</span><br />
                            <div class="buttons">
                                <a class="remove_form_button">Remove Form</a>
                                <a class="view_form_button">View Form</a>
                            </div>
                        </div>
                        
                       

                    </div>

                }

            </div>
        </div>
        <div class="summary">
            <h3>SUMMARY</h3>
        </div>
        <span>@ViewBag.Sum</span>
    </div>
    
</body>
</html>
