body {
}
.disabled {
    cursor: not-allowed !important;
}
.tables_wrapper {
    margin:0 auto;
    width:450px!important;
}

.tables_wrapper .table {
    border: 1px solid #E2E2E2;
    border-radius:4px;
    width: 400px;
    margin: 20px 15px!important;
    padding:10px;
    font-size: 16px;
    font-weight: 700;   

}

.table_perfect {
    border: 3px solid #67be13 !important;
}
.table_error {
    border: 3px solid #BF390F !important;
}
.table .top_table{
    background: #2A7698;
    color:#fff;
    height:48px;
    display:flex;
    justify-content:center;
    border-radius:5px 5px 0 0;
}
.table .top_table .top_table_content{
    width:90%;
    margin:auto;
}
.table .top_table .table_number{

}
.table .top_table .quick_pick_button{
    float:right;
    
}
.table .top_table .quick_pick_button button{
    background-color: #67be13!important;
    color: #FFF!important;
    border-bottom: 2px solid #5ba911!important;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    text-align: center;
    font-weight: 700;
    font-size:16px;
    border: none;
    border-radius: 5px;
    cursor:pointer;

    
}
.table .top_table .quick_pick_button button i{
    margin-left: 3px;
}
.table .instruction{
    background:#1A5C7A;
    color:#fff;
    height:26px;
    padding-top:10px;
    padding-left:18px;  
    margin-bottom:4px;
}
.table .nums_row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.table .instruction i{
    float:right;
    margin-right:10px;
    cursor:pointer;
}
.table input[type=checkbox] {
    display: none;
}

.table .number {
   border: 1px solid #CECECE;
    font-weight: 700;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    min-width: 30px;
    border-spacing: 2px;
    border-collapse: inherit;
    color: #666;
    text-transform: initial !important;
    margin: 2px;
    font-size: 16px!important;
}
.clicked{
    background:#1A5C7A;
    color:#fff!important;
}

.form_wrapper .submit_tables,.back{
    margin-top:50px;
    width:300px;
    color:aliceblue;
    background-color:#67be13!important;
    display:block;
    margin:50px auto 0 auto;
    padding: 15px 13px;
    font-size: 18px;    
    text-align: center;
    border: none;    
    font-weight: 700;
    border-radius: 5px;
     cursor:pointer;
}
.form_wrapper .submit_tables,.back:hover{
    background-color: #5ba911!important;
    
}
.explain:hover+.info{
    display:block;
}
.info{
    display:none;
    position:absolute;
    width:400px;
   color:#2a7698;
    background-color:#e4fdcd;
    z-index:99;
    margin-left:219px;
    padding:15px;
    border:solid 1px #1a5c7a;
    margin-top: -6px;
    border-radius:0 10px 10px 10px;
}
.explain{
    margin-left:200px;
    font-size:30px;
    color:#2A7698;
    direction:ltr;
    z-index:100;
     
   
}