body {
}
.choose_chance_type .chance_type {
    -webkit-text-stroke: 1px red;
    color: white;
    font-weight: bolder;
    font-size:35px;
    border: 1px solid #E2E2E2;
    border-radius: 4px;  
    padding-top:30px;
    
    width:200px;
}  
.choose_chance_type .chance_type .number{
    margin-bottom:15px;
}
.choose_chance_type .chance_type input{
    display:none;
}

.chance_table {
    margin: 0 auto;
    width: 928px;
    border-bottom: 1px solid #E2E2E2;
}
.table_perfect {
    border: 3px solid #67be13 !important;
    border-radius: 4px;
}

.table_error {
    border: 3px solid #BF390F !important;
    border-radius: 4px;
}
.clicked {
    transform: scale(1.2);
    border: 1px solid #67be13 !important;
    border-radius: 9px;
}
.chance_table .instruction {
    background: #1A5C7A;
    color: #fff;
    height: 26px;
    padding-top: 10px;
    padding-left: 18px;
    margin-bottom: 4px;
    font-weight:700;
}

.chance_table .card_type {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #E2E2E2;
    padding-bottom: 30px;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;  
    margin: 10px 0 10px 0;
}
.chance_table .card_type img.card_img{
    width:80px;
    height:122px;
    margin-right: 20px;
}
.not_clicked{
    transform:none!important;
    /*transform:scale(1);*/
    cursor:default!important;
}
.chance_table .card_type img.card_type_img{
    width:80px;
    height:122px;
    
}
.chance_table .card_type img.card_img:hover{
   transform: scale(1.2);
   cursor:pointer;
}

.chance_table .img_checkbox{
    display:none;
}