@charset "utf-8";
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../../fonts/HelveticaNeueLight.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
    background:#efefef;   
}
.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 47px;
    background-color: #1A5C7A;
    z-index:998;
}
.menu .content {
    margin: 0 auto;
    width: 1000px;
    direction: rtl;
    
}
.menu .content ul{
    display: flex;
    flex-wrap: wrap;
}
.menu .content ul li{
        text-align:center;
        list-style-type: none;
        
}

.menu .content ul li a{
    display:block;
    color:#efefef;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    color: #efefef;
    padding-top: 17px;
    width:120px;
    padding-bottom: 15px;
    cursor:pointer;
}
.menu .content ul li .dropdown-option {
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position:absolute;
}
.menu .content ul li:hover > a{
    background-color: rgb(91, 192, 222);
}


.menu .content ul .dropdown:hover > .dropdown-option {
   
    visibility: visible;
    opacity: 1;
}
.menu .content ul .dropdown .dropdown-option {
    
}
.menu .content ul .dropdown .dropdown-option a{
    background-color: #5bc0de;
    margin-top:1px;
    display:block;
}
.menu .content ul .dropdown .dropdown-option a:hover{
    background-color: #2a91af;
   

}

/********************************************************************/
#social-icon {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
#social-icon li{
    margin-right: 20px;
    list-style-type: none;
}
#social-icon li a{
      
}
#social-icon li a i {
    font-size: 30px;
    color: #1A5C7A;
}
#social-icon li a #twitter:hover {
    color: #1da1f2;
}
#social-icon li a #facebook:hover {
    color: #3b5998;
}
#social-icon li a #phone:hover {
    color: #009900;
}
/********************************************************************/

.Wrapper {
    margin: 0 auto;
    width:1160px;
    direction: rtl;
}
.Wrapper .main{
    direction:ltr;
    margin-top:30px;
}

.Wrapper .content{
    background-color:#fff;
    padding-top:20px;
    padding:20px 10px 30px 10px;
}


.custom-select {
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbb;
    box-shadow: none;
    color: #666;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 1.7;
    margin: 0px;
    padding: 10px 12px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    text-rendering: auto;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbb;
    box-shadow: none;
    color: #666;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 1.7;
    margin: 0px;
    padding: 10px 12px;
    border-radius: 0 4px 4px 0;
    width: 80%;
}
.first_name {
    width: 60.5%!important;
}
.password{
    border-radius:0!important;
    width: 70.5%!important;
    margin-right:-5px!important;
}
.row{
    
    margin: 15px auto;
}
.icon {
    font-size: 18px;
    font-weight: 400;
    padding:9px 5px 11px 10px;
    height:40px;
    color: #555;
    text-align: center;
   
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    border-right:none;
}
.show_pass{
    font-size: 18px;
    font-weight: 400;
    padding:9px 5px 11px 10px;
    height:40px;
    color: #555;
    text-align: center;
   
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    border-left:none;
}
/* Set a style for all buttons */
.login_button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size: 20px;
}

.submit_button {
    display: block;
    width: 90%;
    padding: 15px 21px;
    font-size: 18px;
    border-radius: 6px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #67be13 !important;
    color: #FFF !important;
    border: 1px solid transparent;
    margin:0 auto;
    
}
/* The Modal (background) */
.modal {
    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: none;
    position: fixed;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index:999;
    background-color: rgba(0, 0, 0, 0.8);
    
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 910px;
    padding-bottom: 30px;
   padding-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
    border-radius:9px;
}

.modal-content .modal-header{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #B4B4B4;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #1a5c7a;
}
.modal-content label{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #1a5c7a;
    display:block;
}
.main .modal form {
    width: 420px;
    display: inline-block;
    margin:30px 10px;
}
.main .modal .sign-up {
   border-right:1px solid #bbb;
   padding-right:20px;
}

.main .modal .login {
   
}

.main .modal .sign-up .sign_up_block {
    width:400px;
    margin: 0 auto;
}
.main .modal .login .login_block {
    width: 400px;
    margin: 0 auto;
}
.imgcontainer {
    text-align: center;
    margin: 0px 0 12px 0;
    position: relative;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 10px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation:  0.6s
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
   

footer .web_details{
     width: 100%;
    background-color:#add8e6;
   
}
footer .web_details .content{
    width:1100px;
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    padding-top:60px;
    padding-bottom:30px;
}
footer .web_details ul{
    list-style-type: none;
}
footer .web_details div{
    margin-left:50px;
    margin-right:50px;
}
footer li a {
    text-decoration: none;
    color: #428BCA;
}
footer .web_details .content .pay_and_lic{
    width:200px;
}
footer .web_details .content .pay_and_lic .pay_methods {
    display:flex;
    flex-wrap:wrap;
}
footer .web_details .content .pay_and_lic .pay_methods li img{
    display:block;
}
footer li {
    width: 100%;
    font-size: 12px;
    margin-bottom: 7px;
}

footer h4 {
    color: #1A5C7A;
    margin-bottom: 20px;
}
footer .rights {
    width: 100%;
    background-color: #123042;
    text-align: center;
    font-size: 12px;
}
footer .rights .content{
    width:1150px;
    margin: 0 auto;
    padding-top:40px;
    padding-bottom:50px;
}
footer .rights .content a{
    color:#fff;
    
}
footer .rights .content p{
    color: rgba(255, 255, 255, .5);
    margin-top:12px;
}
/*************************************************/
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
